{% extends "admin/_layout.html" %}
{% from "_macros.html" import field, turnstile, turnstile_script %}
{% block title %}Admin sign in{% endblock %}
{% block admin %}
<h1>Admin sign in</h1>
<form method="post" novalidate>
  {{ form.csrf_token }}
  {{ field(form.username, autocomplete="username") }}
  {{ field(form.password, autocomplete="current-password") }}
  {{ turnstile(form) }}
  <button type="submit" class="submit-btn">Sign in</button>
</form>
{% endblock %}
{% block scripts %}{{ turnstile_script() }}{% endblock %}
